version: '3.8'

services:
  db:
    image: postgis/postgis:16-3.4
    container_name: fusa-db
    restart: unless-stopped
    environment:
      - POSTGRES_USER=qgis
      - POSTGRES_PASSWORD=qgis
      - POSTGRES_DB=qgisdb
    volumes:
      - pg_data:/var/lib/postgresql/data
      - ./db/init.sql:/docker-entrypoint-initdb.d/init.sql:ro
    networks:
      - qgisnet

  qgis:
    image: qgis/qgis-server:ltr
    container_name: fusa-qgis
    restart: unless-stopped
    depends_on:
      - db
    ports:
      - "7315:80"               # QGIS Server exposto
    environment:
      - QGIS_SERVER_LANDING_PAGE_PROJECTS_DIRECTORIES=/io/data
      - QGIS_SERVER_LOG_LEVEL=0
      # se quiser forçar um projeto:
      # - QGIS_PROJECT_FILE=/io/data/fusagasuga/fusagasuga.qgs
    volumes:
      - ./data:/io/data:ro
      - ./nginx-qgis.conf:/etc/nginx/conf.d/default.conf:ro
    networks:
      - qgisnet

  assets:
    image: nginx:alpine
    container_name: fusa-assets
    restart: unless-stopped
    ports:
      - "7316:80"               # servidor de mídias
    volumes:
      - ./assets:/usr/share/nginx/html:ro
    networks:
      - qgisnet

  lizmap:
    image: 3liz/lizmap-web-client:3.9
    container_name: fusa-lizmap
    restart: unless-stopped
    depends_on:
      - qgis
    environment:
      # URL do QGIS Server vista de dentro da rede docker
      - LIZMAP_MAPSERVER_URL=http://fusa-qgis/ows/
      # idioma padrão
      - LIZMAP_LANG=pt_BR
      # opcional: fuso
      - TIMEZONE=America/Bogota
    volumes:
      # projetos QGIS que o Lizmap vai listar
      - ./data:/srv/projects:ro
      # configs e cache do lizmap
      - lizmap_var:/var/www/web-var
    ports:
      - "7317:80"               # viewer web
    networks:
      - qgisnet

networks:
  qgisnet:

volumes:
  pg_data:
  lizmap_var:
