version: '3.8'

services:
  db:
    image: postgis/postgis:16-3.4
    container_name: qgis-db
    restart: unless-stopped
    environment:
      - POSTGRES_USER=qgis
      - POSTGRES_PASSWORD=qgis
      - POSTGRES_DB=qgisdb
    volumes:
      - pg_data:/var/lib/postgresql/data
      # script pra criar as tabelas da cidade
      - ./db/init.sql:/docker-entrypoint-initdb.d/init.sql:ro

  qgis:
    image: qgis/qgis-server:ltr
    container_name: qgis-server
    depends_on:
      - db
    restart: unless-stopped
    ports:
      - "7315:80"        # ← vai acessar por aqui
    environment:
      # diz pro QGIS onde procurar projetos
      - QGIS_SERVER_LANDING_PAGE_PROJECTS_DIRECTORIES=/io/data
      # opcional: se quiser já forçar um projeto padrão
      # - QGIS_PROJECT_FILE=/io/data/fusagasuga/fusagasuga.qgz
    volumes:
      # aqui vão os projetos .qgs/.qgz
      - ./data:/io/data:ro
      # sobrescreve o nginx padrão pra não mostrar "Welcome to nginx!"
      - ./nginx.conf:/etc/nginx/conf.d/default.conf:ro

volumes:
  pg_data:
