version: '3.8'

services:
  db:
    image: postgis/postgis:16-3.5
    container_name: fusa-db
    restart: unless-stopped
    environment:
      - POSTGRES_USER=qgis
      - POSTGRES_PASSWORD=qgis
      - POSTGRES_DB=qgisdb
    volumes:
      - pg_data:/var/lib/postgresql/data
      - ./db/init.sql:/docker-entrypoint-initdb.d/init.sql:ro

  assets:
    image: nginx:alpine
    container_name: fusa-assets
    restart: unless-stopped
    ports:
      - "7316:80"          # ← porta só pra servir imagem (pode mudar)
    volumes:
      - ./assets:/usr/share/nginx/html:ro
    # acessa em http://SEU_HOST:7316/assets/...
    # porque vamos colocar as imagens dentro de ./assets

  qgis:
    image: qgis/qgis-server:ltr
    container_name: fusa-qgis
    depends_on:
      - db
    restart: unless-stopped
    ports:
      - "7315:80"          # ← QGIS Server
    environment:
      - QGIS_SERVER_LANDING_PAGE_PROJECTS_DIRECTORIES=/io/data
      - QGIS_SERVER_LOG_LEVEL=0
      # se quiser travar num projeto:
      - QGIS_PROJECT_FILE=/io/data/fusagasuga.qgs
    volumes:
      - ./data:/io/data:ro
      - ./nginx.conf:/etc/nginx/conf.d/default.conf:ro

volumes:
  pg_data:
